\:root
    --font: 'Outfit', sans-serif
    --bg-color: #fff
    --font-color: #29140C
    --purple: #6A11CB
    --blue: #67C7DC
    --light-blue: #E0F4F8
    --blue-hover: #66C2E9
    --yellow: #FFCA42
    --orange: #F29F05
    --red: #F50000
    --green: #009640
    --black: #29140C
    --white: #fff
    --grey: #A3A3A3
    --grey-hover: #B8BBC1
    --grey-active: #797F89
    --grey-focus: #797F89
    --grey-disabled: #eaebef


// Breakpoints
$max-xxl: 'max-width: 1389.98px'
$max-xl: 'max-width: 1199.98px'
$max-lg: 'max-width: 991.98px'
$max-md: 'max-width: 767.98px'
$max-sm: 'max-width: 575.98px'
$max-xs: 'max-width: 389.98px'

$min-xxl: 'min-width: 1390px'
$min-xl: 'min-width: 1200px'
$min-lg: 'min-width: 992px'
$min-md: 'min-width: 768px'
$min-sm: 'min-width: 576px'
$min-xs: 'min-width: 390px'


// Z-index
$z-index-minus: -1
$z-index-0: 0
$z-index-1: 1
$z-index-2: 2
$z-index-3: 3
$z-index-4: 4
