.modal
    position: absolute
    top: 0
    left: 0
    z-index: $z-index-3
    width: 100%
    height: 100%
    overflow-x: hidden
    overflow-y: auto
    outline: 0
    opacity: 0
    visibility: hidden
    transition: all .5s ease

    &.is-visible
        opacity: 1
        visibility: visible

        .modal__window
            transform: scale(1)

    &--big

        .modal__window
            max-width: 750px

    &--small

        .modal__window
            max-width: 450px

    &-wrap
        position: fixed
        top: 0
        left: 0
        z-index: 1000
        width: 100%
        height: 100%
        outline: 0
        background: rgba(0, 0, 0, .7)
        opacity: 0
        visibility: hidden
        transition: all .5s ease

        &.is-visible
            opacity: 1
            visibility: visible

    &__inner
        display: flex
        align-items: center
        justify-content: center
        min-height: 100%
        padding: 16px

    &__window
        position: relative
        width: 100%
        max-width: 540px
        padding: 40px 30px
        background: var(--white)
        transform: scale(.8)
        border-radius: 10px
        transition: all .5s ease

        @media ($max-md)
            padding: 30px 15px

    &__close
        position: absolute
        top: -40px
        right: 0
        width: 20px
        height: 20px
        display: flex
        align-items: center
        justify-content: center
        font-size: 0
        color: var(--white)
        transition: all .5s ease

        @media ($max-md)
            top: 15px
            right: 15px
            color: var(--black)

        &:hover,
        &:focus-visible
            color: var(--yellow)

    &__content
        text-align: center

    &__icon
        margin: 0 auto 30px

    &__title
        margin: 0 0 15px
        font-size: 24px
        line-height: 1.2
        font-weight: 600
        text-align: center
    
    &__descr
        font-size: 20px
        font-weight: 300
        margin: 0

        @media ($max-md)
            font-size: 14px

    &__buttons
        display: flex
        justify-content: center
        gap: 20px

        .modal__button
            max-width: 120px
            width: 100%

            &--big
                max-width: 200px
    
    &-payment

        &__list
            display: grid 
            grid-template-columns: repeat(12, 1fr)
            gap: 25px 15px
            margin: 0 0 30px
            padding: 0
            list-style: none

            @media ($max-md)
                display: flex
                flex-direction: column
                gap: 15px

        &__item
            grid-column: 6 span

    &__countries-list
        
        @media ($max-md)
            column-count: auto !important
            column-width: auto !important
            max-height: 480px
            overflow-x: auto