section.create-section
    .container.container--fluid.create-section__container
        h1.section-title.create-section__title
            span Create listing

        .create-section__row
            .create-section__left
                ul.steps.create-section__steps
                    li.steps__item.is-active General
                    li.steps__item.is-active Photos
                    li.steps__item Payment
                    li.steps__item Finish

                .photos.create-section__photos
                    h2.photos__title Photos

                    .photos__row
                        .photos__preview
                            //- .photos-card
                            //-     picture.photos-card__picture
                            //-         img.photos-card__img(src="img/thumbnail.webp" srcset="img/thumbnail@2x.webp 2x" loading="lazy" width="242" height="238"  alt="alt")
                                
                            //-     button.button.photos-card__delete(type="button" arial-label="Delete")
                            //-         svg.button__icon(width="17" height="21")
                            //-             use(xlink:href="img/sprite.svg#delete")

                        ul.photos__list
                            li.photos__item
                                .photos-card
                                    picture.photos-card__picture
                                        img.photos-card__img(src="img/thumbnail-min.webp" srcset="img/thumbnail-min@2x.webp 2x" loading="lazy" width="89" height="88"  alt="alt")
                                    
                                    button.button.photos-card__delete(type="button" arial-label="Delete")
                                        svg.button__icon(width="17" height="21")
                                            use(xlink:href="img/sprite.svg#delete")

                            li.photos__item
                                .photos-card
                                    picture.photos-card__picture
                                        img.photos-card__img(src="img/thumbnail-min.webp" srcset="img/thumbnail-min@2x.webp 2x" loading="lazy" width="89" height="88"  alt="alt")
                                    
                                    button.button.photos-card__delete(type="button" arial-label="Delete")
                                        svg.button__icon(width="17" height="21")
                                            use(xlink:href="img/sprite.svg#delete")
                            
                            li.photos__item
                                .photos-card
                                    picture.photos-card__picture
                                        img.photos-card__img(src="img/thumbnail-min.webp" srcset="img/thumbnail-min@2x.webp 2x" loading="lazy" width="89" height="88"  alt="alt")
                                    
                                    button.button.photos-card__delete(type="button" arial-label="Delete")
                                        svg.button__icon(width="17" height="21")
                                            use(xlink:href="img/sprite.svg#delete")
                            
                            li.photos__item
                                .photos-card
                                    picture.photos-card__picture
                                        img.photos-card__img(src="img/thumbnail-min.webp" srcset="img/thumbnail-min@2x.webp 2x" loading="lazy" width="89" height="88"  alt="alt")
                                    
                                    button.button.photos-card__delete(type="button" arial-label="Delete")
                                        svg.button__icon(width="17" height="21")
                                            use(xlink:href="img/sprite.svg#delete")
                            
                            li.photos__item

                            li.photos__item

                            li.photos__item

                            li.photos__item
                                button.photos__add(type="button" aria-label="Add image")
                                    svg.photos__add-icon(width="34" height="34")
                                        use(xlink:href="img/sprite.svg#create")
                    
                    .photos__descr Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted
                    
                .create-section__buttons
                    a.button.create-section__button(href="create-listings-3.html") Next

            .create-section__right
                .steps-card.create-section__steps-card
                    picture.steps-card__picture
                        img.steps-card__img(src="img/steps-icon-1.webp" srcset="img/steps-icon-1@2x.webp 2x" loading="lazy" width="112" height="112" alt="alt")
                        
                    .steps-card__content
                        h3.steps-card__title Create New Listing
                        p.steps-card__descr Do you have something to sell, to rent, any service to offer or a job offer? Post it at Pet 4 You, its free, for local business and very easy to use!

                .info-block.create-section__info-block
                    .info-block__header
                        h3.info-block__title How to sell quickly?
                    
                    .info-block__body
                        ul.check-list.check-list--light-blue.info-block__list
                            li.check-list__item Use a brief title and description of the item
                            li.check-list__item Make sure you post in the correct category
                            li.check-list__item Add nice photos to your listing
                            li.check-list__item Put a reasonable price
                            li.check-list__item Check the item before publish
