section.create-section
    .container.container--fluid.create-section__container
        h1.section-title.create-section__title
            span Create listing

        .create-section__row
            .create-section__left
                ul.steps.create-section__steps
                    li.steps__item.is-active General
                    li.steps__item Photos
                    li.steps__item Payment
                    li.steps__item Finish

                .form-wrap.create-section__general
                    h2.form-wrap__title General

                    form.form(id="general-form" autocomplete="off" novalidate="novalidate")
                        .form-block
                            .form-block__left
                                label.form-block__label Category
                            
                            .form-block__right
                                select#selectCategory.select(name="selectCategory" aria-label="Category" required)
                                    option(value="") Category
                                    option(value="1") Cats
                                    option(value="2") Dogs
                                    option(value="3") Horses
                                    option(value="4") Other Pets
                                    option(value="5") Accessoires
                                    option(value="6") Pet Food
                                    option(value="7") Service
                                    option(value="8") Lost Animal

                        .form-block
                            .form-block__left
                                label.form-block__label Title
                            
                            .form-block__right
                                input#inputTitle.input.form__input(type="text" name="inputTitle" placeholder="title" autocomplete="off" value="Gorgeous Cockapoo Girl" required)
                                label.form__label.form__label--bottom A great title needs at least 60 characters.

                        .form-block
                            .form-block__left
                                label.form-block__label Description
                            
                            .form-block__right
                                textarea#description.textarea.form__input(name="description" rows="7" placeholder="Description" autocomplete="off" required) 

                        .form-block
                            .form-block__left
                                label.form-block__label Price
                            
                            .form-block__right
                                .input-group
                                    input#inputPrice.input.form__input.input-group__input(type="text" name="inputPrice" placeholder="0" autocomplete="off" required)

                                    .input-group__pic
                                        svg.input-group__pic-icon(width="10" height="17")
                                            use(xlink:href="img/sprite.svg#dollar")

                                    .checkbox.checkbox--outline.input-group__checkbox
                                        input.checkbox__input#checkboxNegotiable(type="checkbox" name="checkboxNegotiable" value="false")
                                        label.checkbox__label(for="checkboxNegotiable") Negotiable

                        .form-block
                            .form-block__left
                                label.form-block__label Country
                            
                            .form-block__right
                                select#selectCountry.select(name="selectCountry" aria-label="Country" required)
                                    option(value="") Select a country
                                    option(value="1") England
                                    option(value="2") Germany
                                    option(value="3") France
                        
                        .form-block
                            .form-block__left
                                label.form-block__label City
                            
                            .form-block__right
                                select#selectCity.select(name="selectCity" aria-label="City" required)
                                    option(value="") Select a city
                                    option(value="1") London
                                    option(value="2") Berlin
                                    option(value="3") Paris

                .form-wrap.create-section__seller
                    h2.form-wrap__title Seller information

                    form.form(id="general-form" autocomplete="off" novalidate="novalidate")
                        .form-block
                            .form-block__left
                                label.form-block__label Email
                            
                            .form-block__right
                                .input-group
                                    input#inputEmail.input.form__input.input-group__input.input-group__input--pr-15(type="email" name="inputEmail" placeholder="example@gmail.com" autocomplete="off" required)

                                    .input-group__pic
                                        svg.input-group__pic-icon(width="22" height="18")
                                            use(xlink:href="img/sprite.svg#email")
                        
                        .form-block
                            .form-block__left
                                label.form-block__label Phone number
                            
                            .form-block__right
                                .input-group
                                    input#inputPhone.input.form__input.input-group__input.tell-input(type="text" name="inputPhone" autocomplete="off" required)

                                    .checkbox.checkbox--outline.input-group__checkbox
                                        input.checkbox__input#checkboxHide(type="checkbox" name="checkboxHide" value="false")
                                        label.checkbox__label(for="checkboxHide") Hide
                    
                .create-section__buttons
                    a.button.create-section__button(href="create-listings-2.html") Next

            .create-section__right
                .steps-card.create-section__steps-card
                    picture.steps-card__picture
                        img.steps-card__img(src="img/steps-icon-1.webp" srcset="img/steps-icon-1@2x.webp 2x" loading="lazy" width="112" height="112" alt="alt")
                        
                    .steps-card__content
                        h3.steps-card__title Create New Listing
                        p.steps-card__descr Do you have something to sell, to rent, any service to offer or a job offer? Post it at Pet 4 You, its free, for local business and very easy to use!

                .info-block.create-section__info-block
                    .info-block__header
                        h3.info-block__title How to sell quickly?
                    
                    .info-block__body
                        ul.check-list.check-list--light-blue.info-block__list
                            li.check-list__item Use a brief title and description of the item
                            li.check-list__item Make sure you post in the correct category
                            li.check-list__item Add nice photos to your listing
                            li.check-list__item Put a reasonable price
                            li.check-list__item Check the item before publish
